$white_coffee: #e8e0d4;
$dark_vanilla: #dcc9a8;
$grullo: #b2a68c;
$olive_drab_camouflage: #50483b;
$black: #141215;

// #e8e0d4	(232,224,212)
// #dcc9a8	(220,201,168)
// #b2a68c	(178,166,140)
// #50483b	(80,72,59)
// #141215	(20,18,21)