@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.welcomeLabel{
    &__text{
        font-family: 'Roboto Regular';
        font-size: $h4_text_size_dt;
        line-height: $h4_line_height_dt;
        background-color: $black;
        color: $dark_vanilla;
        padding: 25px;
        border-radius: 10px;
    }
}